body {
  min-width: 320px;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  color: $text-color;
}

input,
textarea {
  font-family: "Open Sans", "Arial", sans-serif;
}

.no-display {
  display: none;
}

.visually-hidden {
  height: 0;
  font-size: 0;
}

@media (min-width: $width-tablet) {
  body {
    font-size: 17px;
    line-height: 30px;
  }
}
