$background-color: #f1f1f1;
$border-color: #ececec;
$text-color: #444444;
$heading-color: #000000;
$highlighted-color: #63d1bb;
$highlighted-hover-color: #59d5bc;
$link-color: #56c3b2;
$link-hover-color: #46c1ae;

$padding-side-base: 30px;
