.about {
  padding-top: 35px;
  padding-bottom: 31px;
}

.about__title {
  margin-top: 0;
  margin-bottom: 23px;
}

.about__list {
  @include ul-reset;
  margin-top: 30px;
}

.about__item {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $heading-color;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    display: block;
    width: 56px;
    height: 38px;
    margin-bottom: 15px;
    margin-left: -6px;
    text-align: center;
    background: center center no-repeat;
  }

  &--eco::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--knit::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $width-tablet) {
  .about {
    padding-top: 58px;
    padding-bottom: 26px;
  }

  .about__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 465px;
    margin-top: 50px;
  }

  .about__item {
    width: 334px;
    height: 115px;
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $width-desktop) {
  .about {
    padding-top: 83px;
    padding-bottom: 33px;
  }

  .about__list {
    padding-right: $padding-inner-desktop;
  }

  .about__item {
    width: 350px;
  }
}
