.about {
  padding: 26px $padding-side-base 25px;
}

.about__title {
  margin: 0 0 23px;
}

.about__list {
  @include ul-reset;
  margin-top: 30px;
}

.about__item {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: $heading-color;
}
