.btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 14px 40px;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  vertical-align: top;
  background: #ffffff;
  border: 2px solid $text-color;

  &--submit {
    width: 100%;
    cursor: pointer;
  }

  &--highlighted {
    color: #ffffff;
    background: $highlighted-color;
    border: none;
  }

  &:not(:disabled):hover {
    color: #ffffff;
    background-color: $text-color;
  }

  &:focus {
    color: #7c7c7c;
    background-color: $text-color;
  }

  &--highlighted:not(:disabled):hover {
    background-color: $highlighted-hover-color;
  }

  &--highlighted:focus {
    color: #8be2d0;
    background-color: $highlighted-hover-color;
  }

  &:disabled {
    opacity: 0.5;
  }
}
