.catalog {
  padding-top: 30px;
}

.catalog__item {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    display: flex;
    justify-content: space-between;
  }

  .catalog__item {
    width: 315px;

    &:first-child {
      margin-top: 30px;
    }
  }
}
