.catalog {
  padding-top: 30px;
}

.catalog__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $width-tablet) {
  .catalog {
    padding-top: 91px;
  }
}

@media (min-width: $width-desktop) {
  .catalog {
    display: flex;
    justify-content: space-between;
    padding-top: 131px;
  }

  .catalog__item {
    width: 315px;
  }
}
