.catalog-element {
  border: 1px solid $border-color;
}

.catalog-element__img-wrapper {
  display: block;
  height: 195px;
}

.catalog-element__title {
  margin: 23px 0 4px 0;
  font: 17px/24px $font-bold;

  @include padding-horizontal(25px, 25px);
}

.catalog-element__title-link {
  color: $heading-color;
  text-decoration: none;
}

.catalog-element__desc {
  margin: 0 0 10px 0;
  font-size: 13px;
  line-height: 30px;

  @include padding-horizontal(25px, 25px);
}

.catalog-element__options {
  height: 72px;
  margin: 0 25px;
  border-top: 1px solid $border-color;
}

.catalog-element__price {
  font: 15px/24px $font-bold;
  color: $heading-color;
}

.catalog-element__basket-link {
  display: block;
  width: 21px;
  height: 19px;
  font-size: 0;
  text-decoration: none;
  background: url("../img/icon-cart.svg") center center no-repeat;
}
