.catalog-nav__link {
  display: block;
  height: 103px;
  padding: 0 $padding-side-base;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

  &--interior {
    background: $highlighted-color;
  }

  &--toys {
    background: $link-color;
  }
}

@media (max-width: $width-tablet) {
  .catalog-nav {
    width: $width-base;
  }
}

@media (min-width: $width-tablet) {
  .catalog-nav {
    display: flex;
    margin: -120px auto 0;
  }

  .catalog-nav__link {
    width: 50%;
    height: 120px;
  }
}
