.contacts {
  padding-top: 42px;
  padding-bottom: 39px;
}

.contacts__title {
  margin-top: 0;
  margin-bottom: 25px;
}

.contacts__row {
  display: flex;
  margin-bottom: 28px;
}

.contacts__item {
  line-height: 30px;

  &--name {
    width: 78px;
    flex-shrink: 0;
  }

  &--text {
    flex-grow: 1;
  }
}

.contacts__email {
  display: inline-block;
  color: $text-color;
  text-decoration: none;
  vertical-align: top;
  border-bottom: 1px solid $highlighted-color;

  &:hover {
    color: $link-hover-color;
    border-color: $link-hover-color;
  }

  &:focus {
    opacity: 0.3;
    color: $link-hover-color;
    border-color: $link-hover-color;
  }
}

.contacts__map {
  width: $width-base;
  height: 457px;
  margin-left: -$padding-side-base;
  margin-top: 37px;
  margin-bottom: 39px;
}

.contacts__write {
  width: 100%;
  font-size: 18px;
}

@media (max-width: $width-tablet) {
  .contacts__title {
    font-size: 18px;
  }
}

@media (min-width: $width-tablet) {
  .contacts {
    position: relative;
    padding-top: 76px;
    padding-bottom: 57px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 62px;
      right: 3px;
      width: 49px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__title {
    margin-bottom: 48px;
  }

  .contacts__content {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__row {
    width: 50%;
  }

  .contacts__map {
    width: $width-tablet;
    margin-left: -$padding-side-tablet;
    margin-top: 29px;
    margin-bottom: 55px;
    flex-shrink: 0;
  }

  .contacts__write {
    display: block;
    width: auto;
    margin: 0 auto;
    font-size: 17px;
  }
}

@media (min-width: $width-desktop) {
  .contacts {
    padding-right: $content-width-desktop / 2 + 50px;
    padding-top: 163px;
    padding-bottom: 105px;

    &::before {
      left: 50px;
      right: auto;
      top: 156px;
    }
  }

  .contacts__content {
    height: 283px;
    flex-direction: column;
  }

  .contacts__row {
    width: 100%;
  }

  .contacts__map {
    position: absolute;
    top: 94px;
    right: 0;
    width: $content-width-desktop / 2;
    margin-left: 0;
    margin-top: 0;
  }

  .contacts__write {
    margin-top: auto;
  }
}
