.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  display: flex;
  align-items: center;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  color: $heading-color;
  text-decoration: none;

  &:hover .copyright__logo,
  &:focus .copyright__logo {
    fill: $link-hover-color;
  }

  &:focus {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: -7px 0 0;
}

.copyright__logo {
  display: inline-block;
  width: 27px;
  height: 34px;
  margin-left: 30px;
  fill: $highlighted-color;
}

@media (min-width: $width-tablet) {
  .copyright {
    justify-content: flex-end;
  }
}
