.featured {
  padding-top: 27px;
  padding-bottom: 35px;
}

.featured__header {
  margin-bottom: 23px;
}

.featured__title {
  margin-top: 0;
  margin-bottom: 5px;
}

.featured__label {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: $highlighted-color;
  text-transform: uppercase;
}

.featured__text {
  line-height: 24px;
}

.featured__text p {
  margin: 10px 0 0;

  &:first-child {
    margin-top: 0;
  }
}

.featured__options {
  width: 100%;
  margin-top: 17px;
}

.featured__parameter {
  width: 90px;
}

.featured__item {
  display: block;
  width: 260px;
  height: 315px;
  margin: 28px auto 0;
}

.featured__image {
  width: 100%;
  height: auto;
}

.featured__price {
  margin: 23px 0 27px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.featured__order {
  width: 100%;
}

@media (min-width: $width-tablet) {
  .featured {
    padding-top: 43px;
    padding-bottom: 53px;
  }

  .featured__header {
    display: flex;
    align-items: center;
    margin-bottom: 49px;
  }

  .featured__title {
    margin-bottom: 0;
  }

  .featured__label {
    width: 120px;
    margin-top: 6px;
    margin-left: auto;
    line-height: 17px;
    text-align: center;
  }

  .featured__text {
    line-height: 30px;
  }

  .featured__content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 413px;
    padding-right: 378px;
  }

  .featured__options {
    font-size: 15px;
    margin-top: 36px;
  }

  .featured__item {
    position: absolute;
    top: 9px;
    right: 0;
    width: 334px;
    height: 404px;
    margin: 0;
  }

  .featured__price {
    margin-top: auto;
    margin-bottom: 35px;
    font-size: 20px;
  }
}

@media (min-width: $width-desktop) {
  .featured {
    padding-top: 124px;
    padding-bottom: 73px;
  }

  .featured__header {
    margin-left: -$padding-inner-desktop;
  }

  .featured__title {
    position: relative;
    z-index: 10;
  }

  .featured__label {
    box-sizing: border-box;
    position: relative;
    left: -4px;
    width: $padding-inner-desktop;
    margin-left: 0;
    padding: 0 30px;
    order: -1;
  }

  .featured__content {
    position: relative;
    height: 475px;
    padding-right: $content-width-desktop / 2 + 50px;
  }

  .featured__options {
    margin-top: 48px;
  }

  .featured__item {
    top: auto;
    bottom: 0;
    right: 0;
    width: 525px;
    height: 636px;
  }
}
