.form__fieldset {
  padding: 25px 0 11px;
  border: none;
  border-top: 1px solid $highlighted-color;

  &--fio {
    padding-top: 29px;
  }

  &--single {
    position: relative;
    margin-bottom: 21px;
  }

  &--tel {
    padding-top: 24px;
  }

  &--email {
    padding-top: 23px;
  }
}

.form__legend {
  padding: 0 27px 0 0;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: $highlighted-color;
  text-transform: uppercase;
}

.form__group {
  margin-bottom: 20px;

  &--color {
    margin-bottom: 22px;
  }
}

.form__radio,
.form__checkbox {
  display: none;
}

.form__label {
  display: flex;
  align-items: center;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: $heading-color;
  outline: none;

  .form__radio + &::before,
  .form__checkbox + &::before {
    content: "";
    display: block;
    width: 36px;
    height: 35px;
    margin-right: 23px;
    flex-shrink: 0;
    background: center center no-repeat;
    border: 2px solid $text-color;
  }

  .form__radio:disabled + &,
  .form__checkbox:disabled + & {
    color: $disabled-color;
  }

  .form__radio:disabled + &::before,
  .form__checkbox:disabled + &::before {
    border-color: $disabled-color;
  }

  .form__radio + &::before {
    height: 36px;
    border-radius: 50%;
  }

  .form__checkbox:checked + &::before {
    background-image: url("../img/icon-tick.svg");
    background-size: 22px auto;
  }

  .form__radio:checked + &::before {
    background-image: radial-gradient(circle closest-side, $highlighted-color 8px, #ffffff 9px);
  }

  &:hover::before {
    border-color: $highlighted-color;
  }

  &:focus::before {
    border-color: #c7c7c7;
  }
}

.form__field {
  box-sizing: border-box;
  width: 100%;
  margin-top: 1px;
  padding: 12px 0 14px;
  font-size: 17px;
  line-height: 24px;
  background: transparent;
  border: 2px solid #000000;

  &::placeholder {
    opacity: 0.3;
  }

  &:not(&--textarea) {
    border-top: none;
    border-left: none;
    border-right: none;
  }

  &--single {
    margin-top: 0;
  }

  &--tel {
    position: relative;
    z-index: 10;
    margin-top: -19px;
    padding-top: 15px;
    padding-right: 35px;
  }

  &--email {
    position: relative;
    z-index: 10;
    margin-top: -15px;
    padding-right: 40px;
  }

  &--textarea {
    height: 142px;
    padding: 10px 16px 14px;
    resize: vertical;
  }

  &:hover,
  &:focus {
    border-color: $highlighted-color;
  }

  &:hover + .form__icon {
    opacity: 1;
    fill: $highlighted-color;
  }

  &:disabled {
    border-color: $disabled-color;
  }
}

.form__icon {
  position: absolute;
  top: 19px;
  right: 4px;
  opacity: 0.2;
  z-index: 5;

  &--tel {
    right: 7px;
  }
}

.form__bottom {
  margin-top: 15px;
}

.form__hint {
  margin-top: -16px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 16px;
}

.form__submit {
  margin-top: 30px;
  line-height: 16px;
  cursor: pointer;
}

@media (min-width: $width-tablet) {
  .form__bg {
    &:nth-child(2n):not(&--not-colored),
    &--colored {
      background: $background-color;
    }
  }

  .form__fieldset {
    box-sizing: border-box;
    position: relative;
    padding-left: 167px;
    padding-top: 50px;
    padding-bottom: 30px;
    border-top: none;

    &--colors {
      padding-bottom: 26px;
    }

    &--fio {
      padding-bottom: 27px;
    }

    &--tel {
      margin-bottom: -58px;
      padding-top: 62px;
    }

    &--email {
      margin-bottom: 0;
      padding-top: 62px;
      padding-bottom: 48px;
    }
  }

  .form__inner {
    display: flex;
    flex-wrap: wrap;
  }

  .form__legend {
    position: absolute;
    top: 68px;
    left: 0;
  }

  .form__group {
    margin-bottom: 24px;

    &--color {
      width: 240px;
      padding-right: 10px;
    }

    &--fio {
      display: flex;
      margin-bottom: 23px;
    }
  }

  .form__label {
    position: relative;
    top: -1px;
    font-size: 19px;

    .form__radio + &::before,
    .form__checkbox + &::before {
      width: 50px;
      height: 48px;
      margin-right: 28px;
    }

    .form__radio + &::before {
      width: 48px;
    }

    .form__checkbox:checked + &::before {
      background-size: 33px auto;
    }

    .form__radio:checked + &::before {
      background-image: radial-gradient(circle closest-side, $highlighted-color 10px, #ffffff 11px);
    }
  }

  .form__field {
    padding-left: 18px;
    padding-right: 18px;
    font-size: 19px;

    &--single {
      top: -1px;
      padding-right: 60px;
    }

    &:not(&--single) {
      margin-left: 25px;
    }

    &--textarea {
      margin-top: 2px;
      padding-top: 9px;
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .form__icon {
    top: 62px;
    right: 22px;
  }

  .form__bottom {
    display: flex;
  }

  .form__hint {
    margin-left: auto;
    margin-top: 8px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__submit {
    margin-top: 0;
    order: -1;
  }
}

@media (min-width: $width-desktop) {
  .form__fieldset {
    padding-left: $padding-inner-desktop;
  }

  .form__legend {
    left: 61px;
  }
}
