.logo__image {
  display: block;
}

@media (min-width: $width-tablet) {
  .logo__image:not(.logo__image--footer) {
    width: 112px;
    height: auto;
  }
}

@media (min-width: $width-desktop) {
  .logo__image:not(.logo__image--footer) {
    width: 148px;
  }
}
