.page-main-title {
  height: 176px;
  margin: 0;
  @include padding-horizontal;
  font: 27px/30px $font-bold;
  color: $heading-color;
  text-align: center;
  background-color: $background-color;
}

.page-main-title--index {
  height: 282px;
  background: #fafafa url(../img/hero-mobile@1x.jpg) center -20px no-repeat;
}
