.page-header {
  border-bottom: 1px solid $border-color;
}

.page-header__wrapper {
  position: relative;
  margin: 0 auto;
}

.page-header__logo-wrap {
  display: flex;
  height: 79px;
  text-align: center;
}

.page-header__logo {
  margin: 0 auto;
  align-self: center;
}

.page-header__item {
  display: flex;
  position: relative;
  align-items: center;
  height: 78px;
  padding-left: 75px;
  padding-right: $padding-side-base;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $heading-color;
  text-decoration: none;
  border-top: 1px solid $border-color;

  &--has-icon {
    padding-left: 0;
  }

  &--extra {
    display: none;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .page-header__icon {
    fill: $highlighted-color;
  }

  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus .page-header__icon {
    fill: $highlighted-color;
    opacity: 0.3;
  }
}

.page-header__icon {
  width: 20px;
  height: 20px;
  margin-left: $padding-side-base;
  margin-right: 25px;
  flex-shrink: 0;
  fill: rgba(34, 31, 31, 0.2);
}

.page-header__text {
  display: block;
  width: 100%;
}

.page-header__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 20px;
  font-size: 0;
  background: url("../img/icon-menu-open.svg") center center no-repeat;
  border: none;
  cursor: pointer;

  &--close {
    background-image: url("../img/icon-menu-close.svg");
  }
}

.page-header__extra {
  display: none;
  margin-left: auto;
}

.page-header__delivery {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

@media (max-width: $width-tablet) {
  .page-header:not(.page-header--nojs) {
    position: relative;
    height: 79px;
    z-index: 10;
  }

  .page-header__wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    width: $width-base;
    margin-left: -$width-base / 2;
    background-color: #ffffff;
  }

  .page-header__item:last-child {
    border-bottom: 1px solid $border-color;
  }

  .page-header__nav--closed,
  .page-header__tools--closed {
    display: none;
  }

  .page-header--nojs {
    .page-header__wrapper {
      position: static;
      margin-left: auto;
    }

    .page-header__nav,
    .page-header__tools {
      display: block;
    }

    .page-header__toggle {
      display: none;
    }
  }
}

@media (min-width: $width-tablet) {
  .page-header__wrapper {
    display: flex;
    height: 88px;
    flex-wrap: wrap;
    align-items: baseline;
    z-index: 10;
  }

  .page-header__logo-wrap {
    height: 100%;
    flex-grow: 1;
  }

  .page-header__logo {
    margin-left: 0;
    margin-right: 0;
  }

  .page-header__item {
    height: 62px;
    margin-right: 35px;
    padding-left: 0;
    padding-right: 0;
    border-top: none;

    &--has-icon {
      height: auto;
      margin-right: 0;
      border-left: 1px solid $border-color;
    }

    &--search {
      width: 82px;
    }

    &--nav {
      font-size: 15px;
    }
  }

  .page-header__text--search {
    font-size: 0;
  }

  .page-header__icon {
    margin-right: 32px;
  }

  .page-header__nav {
    display: flex;
    order: 5;
  }

  .page-header__tools {
    display: flex;
    align-self: stretch;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__extra {
    display: flex;
    order: 10;
  }

  .page-header__delivery {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: $width-desktop) {
  .page-header__wrapper {
    align-items: stretch;
  }

  .page-header__logo {
    margin: 0 auto;
  }

  .page-header__nav {
    width: auto;
    order: -1;
  }

  .page-header__item {
    height: auto;

    &--extra {
      display: flex;
      height: 58px;
      margin-right: 60px;
      font-size: 15px;
    }

    &--nav {
      margin-right: 0;
      padding-left: 33px;
      padding-right: 34px;
      font-size: 17px;
    }

    &--nav:first-of-type {
      padding-left: 0;
      border-right: 1px solid $border-color;
    }
  }

  .page-header__tools {
    padding-left: 58px;
  }

  .page-header__extra {
    width: 100%;
    margin-left: 0;
    align-items: baseline;
  }
}
