.social-list {
  @include ul-reset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__link {
  display: flex;
  width: 30px;
  height: 30px;
  margin-left: 13px;
  margin-right: 16px;
  font-size: 0;
  text-decoration: none;

  &:hover .social-list__icon {
    fill: $link-hover-color;
  }

  &:focus .social-list__icon {
    opacity: 0.3;
    fill: $link-hover-color;
  }
}

.social-list__icon {
  margin: auto;
}
