.video {
  margin-top: 30px;
  margin-bottom: 58px;

  &:hover .video__inner {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .video__inner {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.video__inner {
  padding: 0 34px 32px;
  border: 1px solid $border-color;
}

.video__title {
  display: flex;
  align-items: center;
  min-height: 95px;
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $heading-color;

  &::before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    margin-right: 25px;
    flex-shrink: 0;
    background: url("../img/icon-video.svg") center center no-repeat;
  }
}

.video__item {
  display: flex;
  height: 150px;
  margin: 0 -35px 23px;
  background: url("../img/video-mobile@1x.jpg") no-repeat;
  cursor: pointer;

  &::before {
    content: "";
    width: 102px;
    height: 78px;
    margin: auto;
    background: url("../img/icon-play.svg") no-repeat;
  }

  &:hover::before {
    width: 121px;
    height: 92px;
    background-size: 100%;
  }

  &:active::before {
    width: 81px;
    height: 62px;
    background-size: 100%;
    opacity: 0.3;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.video__text {
  margin: 0 0 25px;
  font-size: 13px;
  line-height: 24px;
}

.video__btn {
  display: block;
  padding: 16px 20px;
  line-height: 16px;
}

@media (min-width: $width-tablet) {
  .video {
    position: relative;
    margin-top: 53px;
    margin-bottom: 63px;
    padding-top: 455px;
  }

  .video__inner {
    display: flex;
    flex-direction: column;
    padding-left: 42px;
    padding-right: 42px;
    padding-bottom: 45px;
  }

  .video__item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 455px;
    margin: 0;
    background-image: url("../img/video-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .video__title {
    margin-bottom: -3px;
    font-size: 20px;
  }

  .video__text {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $width-desktop) {
  .video {
    box-sizing: border-box;
    margin-top: 27px;
    margin-bottom: 105px;
    padding-top: 0;
    padding-left: 682px;
  }

  .video__inner {
    box-sizing: border-box;
    flex-direction: column;
    min-height: 455px;
    padding: 41px 58px 59px;
  }

  .video__title {
    display: block;
    width: 220px;
    height: auto;
    margin-bottom: 33px;
    align-items: flex-start;

    &::before {
      margin-bottom: 12px;
    }
  }

  .video__item {
    width: 682px;
    height: 455px;
    background-image: url("../img/video-desktop@1x.jpg");
    border-bottom: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }

  .video__btn {
    margin-top: auto;
  }
}
