.video {
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 58px;
  padding-bottom: 32px;
  border: 1px solid $border-color;
}

.video__header {
  display: flex;
  align-items: center;
  height: 95px;
}

.video__inner {
  padding: 0 34px;
}

.video__icon {
  margin-right: 25px;
  fill: $highlighted-color;
  flex-shrink: 0;
}

.video__title {
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: $heading-color;
}

.video__item {
  display: flex;
  height: 150px;
  margin-bottom: 23px;
  margin-left: -1px;
  background: url("../img/video-mobile@1x.jpg") no-repeat;
  cursor: pointer;

  &::before {
    content: "";
    width: 102px;
    height: 78px;
    margin: auto;
    background: url("../img/icon-play.svg") no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.video__text {
  margin: 0 0 25px;
  font-size: 13px;
  line-height: 24px;
}

.video__btn {
  display: block;
  padding: 16px 20px;
  line-height: 16px;
}

@media (min-width: $width-tablet) {
  .video {
    display: flex;
    flex-direction: column;
    margin-top: 53px;
    margin-bottom: 63px;
    padding-bottom: 45px;
  }

  .video__inner {
    padding-left: 42px;
    padding-right: 42px;
  }

  .video__item {
    height: 455px;
    margin-bottom: 0;
    order: -1;
    background-image: url("../img/video-tablet@1x.jpg");
    border-bottom: 1px solid $border-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .video__header {
    margin-bottom: -3px;
  }

  .video__title {
    font-size: 20px;
  }

  .video__text {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: $width-desktop) {
  .video {
    position: relative;
    height: 455px;
    margin-top: 27px;
    margin-bottom: 105px;
    padding-left: 682px;
    padding-top: 41px;
    padding-bottom: 59px;
  }

  .video__inner {
    flex-direction: column;
    padding-left: 58px;
    padding-right: 58px;

    &:not(.video__header) {
      flex-grow: 1;
      display: flex;
    }
  }

  .video__header {
    height: auto;
    margin-bottom: 36px;
    align-items: flex-start;
  }

  .video__icon {
    margin-bottom: 20px;
  }

  .video__item {
    position: absolute;
    top: -1px;
    left: 0;
    width: 682px;
    height: 455px;
    background-image: url("../img/video-desktop@1x.jpg");
    border-bottom: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }

  .video__btn {
    margin-top: auto;
  }
}
